.Item {
    width: 12rem;
    height: 12rem;
    padding: 2rem;
    background-color: rgb(184, 218, 255);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-description {
        color: rgb(47, 47, 49);
    }
    &-delete {
        background-color: red;
        padding: 1rem;
        margin: 1rem 0;
        z-index: 10;
    }
}