@import './../../partials/mixins';

.IconButton {
    width: 2.5rem;
    height: 2.5rem;
    @include flex(row, wrap, center, center);
    border-radius: 100%;
    transition: all 0.2s ease;
    &:hover {
        background-color: rgba(255, 255, 255, 0.484);
    }
    .Icon {
        width: 24px;
        height: 24px;
    }
}